body{
    background-color: pink;
}
nav li{
   list-style-type: none;   
   display: inline-block;
   margin: 0 10px;
}
header{
    text-align: center;
}
nav{
    text-align: center;
}
.hours{
    margin-left:5%;
}
section{
    margin-left:2%;
}